In [222]:
import pandas as pd
import numpy as np

In [223]:
movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")

In [224]:
movies.shape

(4803, 20)

In [225]:
# movies['adult'].value_counts

In [226]:
movies = movies.merge(credits,on='title')

In [227]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

## keeping following columns
movie_id, 
genre, 
keywords, 
title, 
overview, 
cast, 
crew

In [228]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [229]:
movies.isnull().sum()     #checking for missing data

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [230]:
movies.dropna(inplace = True)   #removing the missing data

In [231]:
movies.isnull().sum()       #after removing missing rows

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [232]:
movies.duplicated().sum()   #checking for duplicate rows

np.int64(0)

In [233]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [234]:
import ast     #python module
def converter(obj):     #function to convert object into list: from {"id": 28, "name": "Action"} to only 'Action'
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [235]:
movies['genres'] = movies['genres'].apply(converter)

In [236]:
movies['keywords'] = movies['keywords'].apply(converter)

In [237]:
# geting only first 3 cast
def cast_converter(obj):     
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter += 1
        else:
            break
    return L

In [238]:
movies['cast'] = movies['cast'].apply(cast_converter)

In [239]:
def fetch_director(obj):     
    L = []        # function to get directors
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [240]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [241]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [274]:
# movies.head()
movies[90:100]

,movie_id,title,overview,genres,keywords,cast,crew,tags
90,5255,The Polar Express,"[When, a, doubting, young, boy, takes, an, ext...","[Adventure, Animation, Family, Fantasy]","[santaclaus, nerd, faith, gift, bell, beard, n...","[TomHanks, MichaelJeter, NonaGaye]",[RobertZemeckis],"[When, a, doubting, young, boy, takes, an, ext..."
91,47933,Independence Day: Resurgence,"[We, always, knew, they, were, coming, back., ...","[Action, Adventure, ScienceFiction]","[alternatehistory, alieninvasion]","[LiamHemsworth, JeffGoldblum, BillPullman]",[RolandEmmerich],"[We, always, knew, they, were, coming, back., ..."
92,10191,How to Train Your Dragon,"[As, the, son, of, a, Viking, leader, on, the,...","[Fantasy, Adventure, Animation, Family]","[flying, blacksmith, arena, island, night, shi...","[JayBaruchel, GerardButler, CraigFerguson]",[ChrisSanders],"[As, the, son, of, a, Viking, leader, on, the,..."
93,296,Terminator 3: Rise of the Machines,"[It's, been, 10, years, since, John, Connor, s...","[Action, Thriller, ScienceFiction]","[savingtheworld, artificialintelligence, manvs...","[ArnoldSchwarzenegger, NickStahl, ClaireDanes]",[JonathanMostow],"[It's, been, 10, years, since, John, Connor, s..."
94,118340,Guardians of the Galaxy,"[Light, years, from, Earth,, 26, years, after,...","[Action, ScienceFiction, Adventure]","[marvelcomic, spaceship, space, outerspace, or...","[ChrisPratt, ZoeSaldana, DaveBautista]",[JamesGunn],"[Light, years, from, Earth,, 26, years, after,..."
95,157336,Interstellar,"[Interstellar, chronicles, the, adventures, of...","[Adventure, Drama, ScienceFiction]","[savingtheworld, artificialintelligence, fathe...","[MatthewMcConaughey, JessicaChastain, AnneHath...",[ChristopherNolan],"[Interstellar, chronicles, the, adventures, of..."
96,27205,Inception,"[Cobb,, a, skilled, thief, who, commits, corpo...","[Action, Thriller, ScienceFiction, Mystery, Ad...","[lossoflover, dream, kidnapping, sleep, subcon...","[LeonardoDiCaprio, JosephGordon-Levitt, EllenP...",[ChristopherNolan],"[Cobb,, a, skilled, thief, who, commits, corpo..."
97,315011,Shin Godzilla,"[From, the, mind, behind, Evangelion, comes, a...","[Action, Adventure, Drama, Horror, ScienceFict...","[monster, godzilla, giantmonster, destruction,...","[HirokiHasegawa, YutakaTakenouchi, SatomiIshih...",[HideakiAnno],"[From, the, mind, behind, Evangelion, comes, a..."
98,49051,The Hobbit: An Unexpected Journey,"[Bilbo, Baggins,, a, hobbit, enjoying, his, qu...","[Adventure, Fantasy, Action]","[riddle, elves, dwarves, orcs, middle-earth(to...","[IanMcKellen, MartinFreeman, RichardArmitage]",[PeterJackson],"[Bilbo, Baggins,, a, hobbit, enjoying, his, qu..."
99,9799,The Fast and the Furious,"[Domenic, Toretto, is, a, Los, Angeles, street...","[Action, Crime, Thriller]","[streetgang, carrace, undercover, auto-tuning,...","[PaulWalker, VinDiesel, MichelleRodriguez]",[RobCohen],"[Domenic, Toretto, is, a, Los, Angeles, street..."

In [243]:
# removing all spaces eg: James Cameron -> JamesCameron
movies['genres'] = movies['genres'].apply(lambda x: [i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x: [i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x: [i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x: [i.replace(" ","") for i in x])

In [244]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [245]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [246]:
new_df = movies[['movie_id','title','tags']]

In [247]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [248]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

C:\Users\Ismail Shaikh\AppData\Local\Temp\ipykernel_956\1824047427.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

In [249]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [250]:
import nltk     #natural language toolkit

In [251]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()

In [252]:
# function to remove words which doesnot give a meaning to sentences eg: on, is
def stem(text):
    y = []

    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [253]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\Ismail Shaikh\AppData\Local\Temp\ipykernel_956\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [254]:
new_df['tags'][1]

"captain barbossa, long believ to be dead, ha come back to life and is head to the edg of the earth with will turner and elizabeth swann. but noth is quit as it seems. adventur fantasi action ocean drugabus exoticisland eastindiatradingcompani loveofone'slif traitor shipwreck strongwoman ship allianc calypso afterlif fighter pirat swashbuckl aftercreditssting johnnydepp orlandobloom keiraknightley goreverbinski"

In [255]:
new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

C:\Users\Ismail Shaikh\AppData\Local\Temp\ipykernel_956\1380776331.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

In [256]:
new_df.iloc[20:30]

,movie_id,title,tags
20,1930,The Amazing Spider-Man,peter parker is an outcast high schooler aband...
21,20662,Robin Hood,when soldier robin happen upon the die robert ...
22,57158,The Hobbit: The Desolation of Smaug,"the dwarves, bilbo and gandalf have success es..."
23,2268,The Golden Compass,"after overhear a shock secret, precoci orphan ..."
24,254,King Kong,"in 1933 new york, an overli ambiti movi produc..."
25,597,Titanic,"84 year later, a 101-year-old woman name rose ..."
26,271110,Captain America: Civil War,"follow the event of age of ultron, the collect..."
27,44833,Battleship,"when mankind beam a radio signal into space, a..."
28,135397,Jurassic World,twenty-two year after the event of jurass park...
29,37724,Skyfall,when bond' latest assign goe grave wrong and a...

In [257]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000, stop_words = 'english')

In [258]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [259]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [260]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [261]:
from sklearn.metrics.pairwise import cosine_similarity

In [262]:
similarity = cosine_similarity(vectors)

In [263]:
similarity[0]

array([1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
       0.        ])

In [264]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x: x[1])[1:6]

[(1214, np.float64(0.28676966733820225)),
 (2405, np.float64(0.26901379342448517)),
 (3728, np.float64(0.2605130246476754)),
 (507, np.float64(0.255608593705383)),
 (539, np.float64(0.25038669783359574))]

In [265]:
def recommend(movie):
    try:
        movie_index = new_df[new_df['title'] == movie].index[0]
        distances = similarity[movie_index]
        movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x: x[1])[1:6]
        for i in movies_list:
            print(new_df.iloc[i[0]]['title'])
    except Exception as e:
        print("Movie not found")

In [276]:
recommend('Guardians of the Galaxy')

Space Battleship Yamato
Lost in Space
Blackthorn
Silver Medalist
Ender's Game

In [267]:
new_df.iloc[1214]['title']

'Aliens vs Predator: Requiem'